.List_Food{
  width: 100%;
  margin: 0;
  padding: 0;
}
  .img_food,.imgCate{
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .infor span{
    font-size: 100%;
    padding-right:10px;
  }
  .namefood{
    font-size: 100%;
    min-height:70px;
  }
  .see_all{
    border:1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
  }
  .see_all span{
    font-size: 100%;
  }
  .hover_see_all:hover > .see_all {
    border:1px solid green;
    color: green;
    border-radius: 5px;
  }
  .nameCate{
    font-size: 100%;
    margin-left: 3px;
  }
  .route{
    text-decoration: none;
    color: black;
  }
  .Body_In_Home{
    width: 100%;
    height: 100%;
  }